body, h1, ul, li, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.sidebar-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f2e8e8;
  transition: left 0.3s ease;
  color: #fff;
}

.sidebar.show-sidebar {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7bcbc;
}

.sidebar-header .logo {
  height: 40px;
}

.sidebar-header .close-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.links {
  list-style: none;
  padding: 0;
}

.links li {
  margin: 20px 0;
}

.links a {
  display: block;
  color:black;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #555;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  color:black;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #aaa;
}
