@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --primary-color: #49a6e9;
  --grey-color: #333;
  --white-color: #fff;
  --transition: all 0.3s ease;
  --radius: 0.5rem;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f0f0f0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h3 {
  font-family: "Roboto", sans-serif;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./hero.jpeg") center/cover no-repeat;
}

.banner {
  background: var(--white-color);
  width: 450px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid var(--grey-color);
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}


.modal-btn {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white-color);
}

.modal-btn:hover {
  background: rgb(231, 225, 225);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: var(--transition);
  z-index: -1;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background: var(--white-color);
  padding: 2rem;
  text-align: center;
  border-radius: var(--radius);
  position: relative;
  width: 90vw;
  max-width: 500px;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--grey-color);
  cursor: pointer;
  transition: var(--transition);
}

.close-btn:hover {
  color: red;
  transform: scale(1.2);
}
